table {margin: 0 auto; border-collapse: collapse; width: 50%;}
table, th, td {border: 1px solid black;}
th {height: 50px; text-align: center; background-color: chocolate; color: whitesmoke; text-transform: uppercase; font-family: Poppins; font-size: 18px;}
th, td {padding: 18px; text-align: left;}
tr:nth-child(even) {background-color: MistyRose;}
a, li {color: black; font-weight: bold;}
.code {font-family: Poppins, Monaco, monospace; font-size: 18px;}
html, body {width: 100%; text-align: center; background-color: FloralWhite;}
nav {text-align: left !important}
h1, h2, ul {color: chocolate; font-family: Poppins;}
*{
    font-family: Poppins;
}